*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
.main-header{
    text-align: center;
    background-color:#2165d3;
}
.main-header h3,h1{
    font-weight: 100;
}
.main-header span{
    letter-spacing: 5px;
}
.sub-header{
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    background-color: azure;
    cursor: pointer;
    color: #2165d3;
}
.difficulty{
    display: flex;
}
.difficulty h6{
    margin-left: 10px;
}

.difficulty h6:hover {
    background-color:#2165d3;
    color: white
}
.difficulty h6:active {
    background-color:yellow;
}
.content, .sub-content{
    display: flex;
    justify-content: center;
    margin: 40px;
}
 .box1, .box2, .box3, .box4, .box5, .box6{
    border: 2px solid;
    border-radius: 15%;
    height: 130px;
    width: 140px;
    margin: 10px;
    cursor: pointer;
 }
 .point{
     pointer-events: none;
 }
